<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h2 class="title">ToDo App</h2>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" name="registrationForm" ng-submit="register(user,registrationForm)"
                  novalidate>

                <div class="form-group">
                    <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                   ng-model="user.firstName" placeholder="Enter your first name" ng-required="true"/>
                        </div>
                        <div ng-messages="registrationForm.firstName.$error"
                             ng-show="registrationForm.firstName.$invalid && registrationForm.firstName.$touched"
                             style="color: #d43f3a">
                            <p class="msg" ng-message="required">First name is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   ng-model="user.lastName" placeholder="Enter your last name" ng-required="true"/>
                        </div>
                        <div ng-messages="registrationForm.lastName.$error"
                             ng-show="registrationForm.lastName.$invalid && registrationForm.lastName.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">Last name is required</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" ng-model="user.email" id="email" name="email"
                                   placeholder="Enter your E-mail" ng-required="true"/>
                        </div>
                        <div ng-messages="registrationForm.email.$error"
                             ng-show="registrationForm.email.$invalid && registrationForm.email.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">Enter a valid e-mail</p>
                            <p class="msg" ng-message="email">Enter a valid e-mail</p>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="user.password" id="password"
                                   name="password" placeholder="Enter your Password" ng-minlength="4" ng-maxlength="10"
                                   ng-required="true"/>
                        </div>
                        <div ng-messages="registrationForm.password.$error"
                             ng-show="registrationForm.password.$invalid && registrationForm.password.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">This field is required</p>
                            <p class="msg" ng-message="minlength">Your password must contain at least 4 characters</p>
                            <p class="msg" ng-message="maxlength">Your password must contain a maximum of 10
                                characters</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="user.confirmPassword"
                                   name="confirmPassword" id="confirmPassword" compare-to="user.password"
                                   placeholder="Confirm your Password" ng-required="true"/>
                        </div>
                        <div ng-messages="registrationForm.confirmPassword.$error"
                             ng-show="registrationForm.confirmPassword.$invalid && registrationForm.confirmPassword.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">This field is required</p>
                            <p class="msg" ng-message="compareTo">The password doesn't match</p>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" ng-disabled="registrationForm.$invalid"
                            class="btn btn-primary btn-lg btn-block login-button">Register
                    </button>
                </div>
                <div class="login-register">
                    <a ng-href="index.html#!/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
