</div> <!-- /container -->
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h2 class="title">ToDo App</h2>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" ng-show="showForm" name="resetForm" ng-submit="ResetPassword(resetForm)"
                  novalidate>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="password" id="password"
                                   name="password" placeholder="Enter your Password" ng-minlength="4" ng-maxlength="10"
                                   ng-required="true"/>
                        </div>
                        <div ng-messages="resetForm.password.$error"
                             ng-show="resetForm.password.$invalid && resetForm.password.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">This field is required</p>
                            <p class="msg" ng-message="minlength">Your password must contain at least 4 characters</p>
                            <p class="msg" ng-message="maxlength">Your password must contain a maximum of 10
                                characters</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="confirmPassword"
                                   name="confirmPassword" id="confirmPassword" compare-to="password"
                                   placeholder="Confirm your Password" ng-required="true"/>
                        </div>
                        <div ng-messages="resetForm.confirmPassword.$error"
                             ng-show="resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$touched"
                             style="color: #d43f3a" role="alert">
                            <p class="msg" ng-message="required">This field is required</p>
                            <p class="msg" ng-message="compareTo">The password doesn't match</p>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" ng-disabled="resetForm.$invalid"
                            class="btn btn-primary btn-lg btn-block login-button">Reset password
                    </button>
                </div>
                <div class="login-register">s
                    <a ng-href="index.html#!/login">Login</a>
                </div>
            </form>
            <div ng-show="showErrorMsg" class="text-center alert alert-info">
                <p>{{errorMsg}}</p>
                <a ng-href="index.html#!/login">Back to login page</a>
            </div>
            <div ng-show="showSuccessMsg" class="text-center alert alert-info">
                <p>{{successMsg}}</p>
                <a ng-href="index.html#!/login">Back to login page</a>
            </div>
        </div>
    </div>
</div>