#tableDiv img{
    max-width: 120px;
    max-height: 120px;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.input-group{
    font-family: "Lato", sans-serif;
}
.input-group-btn{
    vertical-align: bottom;
}
